# Node modules
node_modules/

# Logs
*.log

# Environment files
.env

# Build folders
.next/
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Prisma
prisma/dev.db

# Docker
*.env.docker